@page
@model HospiInHome.App.FrontEnd.Pages.ListPacientesModel
@{

}

<h1>Lista de Pacientes</h1>

@* <br>
<table class="table">
    @foreach (var paciente in Model.Pacientes)
    {
        <tr>
            <td>@paciente.Nombre</td>
            <td>@paciente.Apellido</td>
            <td>@paciente.TipoDocumento</td>
            <td>@paciente.Documento</td>
            <td>@paciente.Genero</td>
            <td>@paciente.FechaNacimiento</td>
            <td>@paciente.Latitud</td>
            <td>@paciente.Longitud</td>
            <td>@paciente.Telefono</td>
            <td>@paciente.PlanMedico</td>
        </tr>
    }
</table> *@